<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.springboot01.dao.UserMapper" >

    <select id="loginUser"  resultType="com.zy.springboot01.pojo.User">
        SELECT * FROM easybuy_user u WHERE u.username = #{username} and u.password=#{password}
    </select>

    <select id="AllUser" resultType="com.zy.springboot01.pojo.User">
        SELECT * FROM easybuy_user
    </select>

    <insert id="AddUser" parameterType="com.zy.springboot01.pojo.User">
        insert into easybuy_user (id,loginName,userName,password,sex,identityCode,email,mobile,type) values(id,#{loginName},#{userName},#{password},#{sex},#{identityCode},#{email},#{mobile},#{type});
    </insert>
</mapper>